<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <link rel="stylesheet" href="stylesheets/styles.css">
<link href="https://fonts.googleapis.com/css2?family=Metal+Mania&display=swap" rel="stylesheet">

</head>

<body>
    <div class="home-section-box">

        <section class="home-section">
            <nav>
                <ul class="nav-section">
                    <li><a class="nav-section-link" href="/home">Homepage</a></li>
                    <li><a class="nav-section-link" href="/works">Works Section</a></li>
                    <li><a class="nav-section-link" href="/photo-gallery">Photo Gallery</a></li>

                </ul>
            </nav>
            <div class="home-section-text-box">
                <p class="home-section-text"><b>Trivium</b> is an American heavy metal band from Orlando, Florida, formed in 1999. The band comprises
                    vocalist and guitarist Matt Heafy, guitarist Corey Beaulieu, bassist Paolo Gregoletto, and drummer
                    Alex Bent.</p>
            </div>
        </section>
    </div>
</body>

</html>